body{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

/*

a cabeça do site

*/
.header{
    display: flex;
    align-items: center;
    gap: 42px;
    background-color: #1F2937;
    justify-content: space-evenly;
    color: #E5E7EB;
}

.left{
    margin-left: 25px;
    margin-right: auto;
    font-size: 24px;
}


.right #links{
    display: flex;
    gap: 12px;
    margin-right: 18px;
    list-style-type: none;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
    color:#000000;
    font-weight: bold;
}

/*

a apresentacao do site

*/

.presentation{
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    gap: 240px
}

.left-apresen{
    text-align: center;
    width: 450px;
    
}

.left-apresen h2{
    font-size: 48px;
    font-weight: 900;
    color: F9FAF8;
    margin-top: 10px;
}
.left-apresen p{
    font-size: 18px;
    color: #E5E7EB;
}

.left-apresen .leftbutton{
    background-color: #3882F6;
    color: #E5E7EB;
    
}

.right-apresen img{
    width: 500px;
    height: 300px;
    margin: 10px;
}